.home{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.seach_form{
  max-width: 100%;
  width: 60%;
  display: flex;
  justify-content: center;
  margin-bottom: 2em;
}


.search_form input{
  margin-right: 10px;
  width: 50%;
}

.nopost{
  text-align: center;
}

.nopost p{
  margin-top: 2em;
  margin-bottom: 1.5em;
}

.nopost a{
  padding: 10px 25px;
}